#app {
  padding-top: 90px;
}

#map img {
  max-width: none;
}

#user_name {
  line-height: 30px;
}

#msgs {
  height: 300px;
  overflow: auto;
}

.chat {
  display: block;
}

.chat_timestamp {
  float: left;
  width: 40px;
}

.chat_nickname {
  float: left;
  width: 130px;
}

.chat_message {
  float: left;
}

#map {
  height: 600px;
}

.map_overlay {
  width: 650px;
}

